:root{
    /* Color Palette Start */
    --primary800: #000;
    --primary700: #013b05;
    --primary600: #035008;
    --primary500: #550400;
    --primary450: #8d0903;
    --primary400: #8F5A15;
    --primary300: #B5823F;
    /* Color Palette Finish */
}

/* Reset Default Layout Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset Default Layout Finish */


body{
    background-color: var(--primary300);
    font-family: 'Mountains of Christmas', cursive;
    font-size: 1.5rem;
    line-height: 24px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;;
}
/* h1,h2,h3,h4 Style set Start */
h1{
    font-size: 5rem;
    line-height: 90px;
}

h2{
    font-size: 3rem;
    line-height: 56px;
}

h3{
    font-size: 1.5rem;
    line-height: 32px;
}

h4{
    font-size: 1.25rem;
    line-height: 24px;
}

@media screen and(min-width:1500px){
    body{

        font-size: 1.125rem;
        line-height: 24px;
        max-width: 100%;
        overflow-x: hidden;
    }
    h1{
        font-size: 6rem;
        line-height: 110px;
    }
    
    h2{
        font-size: 3.5rem;
        line-height: 70px;
    }
    
    h3{
        font-size: 2rem;
        line-height: 40px;
    }
    
    h4{
        font-size: 1.4rem;
        line-height: 32px;
    }
}
/* h1,h2,h3,h4 Style set Finish*/

/* div{
    border: 1px solid black;
} */

button{
    background-color: var(--primary450);
    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;
    border-radius: 6px;
    font-weight:700;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
}
button:hover{
    background-color:#6e0702;
    transform: scale(1.1);
}

input[type="checkbox"]{
    box-shadow: 2px 2px 2px black;
    appearance: none;
    width: 15px;
    height: 15px;
    transition: 0.25s;
    background-color: var(--primary400);
    border-radius: 4px;
    opacity: 0.2;
    border: 1px solid black;
}
input[type="checkbox"]::after{
    z-index: 2;
    background-color: var(--primary700);
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:checked{
    opacity: 1;
    border: 1px solid black;
    transition: 0.25s;
    background-color: var(--primary600);
}

#title{
    text-align: center;
    font-weight: 400; 
    text-shadow: 2px 2px var(--primary500); 
}
@media screen and(min-width:1500px){
    input[type="checkbox"]{
        width: 25px;
        height: 25px;
    }
    input[type="checkbox"]::after{
        width: 25px;
        height: 25px;
    }
}
/* Decoration on top-left and Top-Right start */
#background__angleL{
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    z-index: -1;
}

#background__angleR{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    height: 200px;
    width: 200px;
    z-index: -1;
}

#background__angleLowL {
    position: relative;
    width: 25%;
    height: 32px;
    
}

#background__angleLowL img{
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 15%;
}

/* Decoration on top-left and Top-Right Finish */


/* Content Container Start */
.content{
    display: flex;
    flex-direction: row;
    width:100vw;
    height:90vh;
}
/* Content Container Finish */



/* Winners Zone Start */
.content__winners{
    justify-content:start;
    display: flex;
    flex-direction:column;
    width:25%;
    height:100%;   
}

.content__winners img{
    width: 250px;
    margin-bottom: -43px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.winners{
    margin: 0rem auto;
    height:15rem;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary400);
    border-radius: 6px;
    color: var(--primary500);
    width: 230px;
    box-shadow: 3px 3px 5px #3a2408;
}

.winners__item{
    z-index: 3;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0.7px 0.7px var(--primary800);
}

@media screen and (min-width: 1500px){
    .content__winners img{
        width: 430px;
        margin-bottom: -73px;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
    }

    .winners{
        width: 90%;
        margin: 0rem 3%;
        margin-left: auto;
        margin-right: auto;
        height: 25rem;
        width: 380px;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--primary400);
        border-radius: 10px;
        color: var(--primary500);
        
        box-shadow: 3px 3px 5px #3a2408;
    }

    .winners__item{
        z-index: 3;
        font-size: 2.5rem;
        font-weight: 600;
        text-shadow: 0.7px 0.7px var(--primary800);
    }
}
/* Winners Zone Start */


/* Numbers table Start */
.content__numbers{
    width:50%;
    height:100%;
    
}

.smorfia{
    text-align:center;
    font-size: 1.4rem;
    font-weight: 700;
    width:80%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary600);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 3px 1px 3px var(--primary700);
    padding: 5px 0px;
    white-space: nowrap;
}

.numbers__grid{
    display: grid;
    grid-template-columns: repeat(10, 45px);
    justify-content:center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    gap: 3px;
    width:477px;
    background-color: var(--primary400);
    border-radius: 6px;
    box-shadow: 3px 3px 5px #3a2408;
}

.numbers__grid p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 45px;
    width:45px;
    height:45px;
    color: var(--primary700);
    font-weight: 600;
    border-radius: 100%;
    text-shadow: 0.1px 0.1px var(--primary800); 
}

@media screen and (min-width: 1500px) {
    .smorfia{
        max-width: 580px;
        font-size: 1.7rem;
    }
    
    .numbers__grid{
        display: grid;
        grid-template-columns: repeat(10, 60px);
        grid-template-rows: repeat(9, 60px);
        justify-content:center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        gap: 3px;
        height: 627;
        width:627px;
        background-color: var(--primary400);
        border-radius: 6px;
        box-shadow: 3px 3px 5px #3a2408;
    }

    .numbers__grid p{
        font-size: 2rem;
        line-height: 60px;
        width:60px;
        height:60px;

    }
  } 
    

/* Winners Zone Finish */


/* Extraction Zone Start */
.extract{
    margin-top: 0.6rem;
    width:70%;
    min-width: 300px;
    max-width: 350px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary600);
    border-radius: 3px;

}

.extract1{
    transition-duration: 0.75s;
    background-color: var(--primary600);
    padding: 0.5rem;
    font-size: 1.8rem;
    border-radius: 4px;
}

.extractAnimation{
    transform: scale(1.3);
    font-size: 6rem;
    transition-duration: 1s;
    padding: 1.5rem 0.5rem;
    transform: rotatex(360deg);
    background-color: var(--primary600);
}

#extract4{
    margin-left: 1rem;
}

#extractBtn{
    padding: 0.6rem;
    font-size: 1.2rem;    
}


/* Extraction Zone Finish */


/* Quotas Zone Start */
.quotas{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6rem;
}

.quota-item{
    display:flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
}

.quota__price{
    background-color: var(--primary400);
    box-shadow: 1px 1px 3px var(--primary800);
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 0px 3px;
}

.quota__type{
    color:var(--primary500);
    font-weight: 700;
}

@media screen and (min-width: 1500px){
    .quotas *{
        margin-top:1rem;
    }
}
/* Quotas Zone Start */


/* Cards Choose zone Start */
.content__cards{  
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: start;
    width:25%;
    height:100%;
}

.content__cards h2{
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px var(--primary500);
}

.content__cards h3{
    text-align: center;
    font-weight: 700;
    color: var(--primary500);
}

.content__cards h4{
    text-align: center;
    font-weight: 700; 
    color: var(--primary500);
    text-shadow: 1px 1px var(--primary800); 
}

.cards__grid{
    margin-right: 1rem;
    margin-left: 1rem;
    height: 50%;
    width: 80%;
    max-height: 370px;
    max-width:300px;
    display: grid;
    grid-template-columns:repeat(3, 0.2fr 0.6fr)  0.2fr 0.2fr;
    justify-items: left;
    align-items: center;
}

/*     */
.cardverified{
    opacity: 0;
    border-radius: 6px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position:absolute;
    width: 400px;
    height: 200px;
    z-index: 3;
    right: 0; left:0;
    bottom:0; top: 0;
    background-color: var(--primary600);
    transition-duration: 0.5s;
}


.closeVerifyBtn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-bottom: 5px;
}

.cardverifiedshow{
    opacity: 1;
    transition-duration: 1.5s;
}

.cardverifiedshow button{
    width: 100px;
    font-size:20px;
    font-weight: 700;
}

.gridverified{
    margin: 2px;
    display:grid;
    gap: 2px;
    height: 150px;
    width: 396px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.gridverified p{
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}


/*     */

.cards__grid p{
    font-size:1.5rem;
}

.cards__grid input{
    cursor: pointer;
}

.printPDF{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.printPDF button{
    margin-top: 15%;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
}

@media screen and (min-width: 1500px){
    .cards__grid{
        max-height: 420px;
        max-width:380px;
    }
    .cards__grid p{
        font-size:1.8rem;
        font-weight: 700;
    }

    .content__cards h2{
        font-size: 3.5rem;
        line-height: 70px;
    }
    
    .content__cards h3{
        text-align: center;
        font-weight: 700;
        color: var(--primary500);
        font-size: 2rem;
        line-height: 40px;
    }
    
    .content__cards h4{
        text-align: center;
        font-weight: 700; 
        color: var(--primary500); 
        font-size: 2rem;
        line-height: 40px;
    }

    .printPDF button{
        margin-top: 10%;

    }
   
}
/* Cards Choose zone Finish */


/* Cards Price zone Start */
.cards__price{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards__price input{
    margin-left: 0.4rem;
    width: 20%;
    background-color: var(--primary400);
    text-align: center;
    border: 0px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #3a2408;
}

.cards__price button{
    margin-left:0.8rem;
    padding: 0.5rem 0.3rem;
}
/* Cards Price zone Finish */


/* Total Win zone Start */
.win__verify{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    width: 70%;
    margin-top: 1.5rem;
}

#total__win{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

#total__win h4{
    color: var(--primary800);
    font-weight: 600;
    
}

#total__win p{
    background-color:var(--primary400);
    border-radius: 3px;
    padding: 0px 3px;
    box-shadow: 3px 3px 5px #3a2408;
}

#verifyBtn{
    
    border-radius: 6px;
    padding: 1rem 0.8rem;
}
/* Total Win zone Finish */

#resetBtn{
    position: absolute;
    left: 4%;
    top: 4%;
    margin-top: 1rem;
    padding: 0.1rem 0.7rem ;

}


